.buttonSecondary{
    background-color: transparent;
    border: 3px solid #171a20;
    width: 100%;
    padding: 10px 40px;
    border-radius: 50px;
    color: #171a20;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;

}


.buttonSecondary:hover{
    background-color: #171a20;
    color: white;
}